/* dit zorgt ervoor dat de website responsive wordt bij een breedte van 960 */
@media only screen and (min-width:960px) {
body{
background-color: aliceblue;
}
}

/* sterretje roept alles op in html */
/* als je border box op een element zet, zal de padding en de border geen invloed meer uitoefenen op de width. */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* > betekend dat geeft het eerste element aan in de body */
/* display flex zorgt ervoor dat de header op een rijtje komt te staan */
/* row reverse zorgt ervoor dat de elementen in de header omdraaien */
/* justify content zorgt ervoor dat content wordt gecentreerd */
body > header {
    background: pink;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}
/* Kleuren elke box */
body > header > h1 {background-color: aquamarine;}
body > header > p {background-color: cadetblue;}
body > header > img {background-color: bisque;}
body > header > nav {background-color: chartreuse;}
body > header > form {background-color: crimson;}
body > header > p(1) {background-color: darkorange;}

.related > article > footer {
    order: 2;

/* zie body > header */
}
body > footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
}
#sitemap {
    background-color: aquamarine;
}
#contact {
     background-color: crimson;
}
#search {
     background-color: bisque;
}
#about {
     background-color: chartreuse;
}
#credits {
    background-color: darkgray;
}
#feedback {
     background-color: darkorange;
}

/* alles in de eerste header van de body heeft deze waarde */
main {
    border: 0.5em solid;
    border-radius: 10px 20px 30px 40px;
    width: 70%;
    box-shadow: 6px 6px 80px;
    margin:auto;
    padding: 20px;
}

main , aside , .related {
    margin: auto;
    width: 70%;
}

.related {
    border: 0.5em solid;
    border-radius: 10px 20px 30px 40px;
    width: 70%;
    box-shadow: 6px 6px 80px;
    margin:auto;
    padding: 20px;
}

aside {
    border: 0.5em solid;
    border-radius: 10px 20px 30px 40px;
    width: 70%;
    box-shadow: 6px 6px 80px;
    margin:auto;
    padding: 20px;
}

a:hover {
    background-color: grey;
}

aside > section {
    border: dotted 0.1em black;
    display: inline-block;
    padding: 0.5em;
    width: 48%;

/* transform is dat het scuhuin gaat staan en transition is dat het langzaam naar voren  komt */
}
h1 {
    color: #cfb6ff;
    font-size: 3.2vw;
    border: 2px dotted white;
    border-radius: 70px 20px 70px;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px yellow;
    transform: rotate(3deg);
    transition: 5s;
}

h2 {
    color: #cfb6ff;
    font-size: 3.0vh;
    margin-top: 2em;
    transition: 5s;
}
h3 {
    color: #cfb6ff;
    margin-top: 1em;
    transition: 5s;
}

p {
    font-size: 2.2vmin;
}

/*TABLET*/
@media only screen and (min-width: 501px )and (max-width: 1023px) {
    body {
        background-color: red;
    }
}

/*PHONE*/
@media only screen and (max-width: 500px) {
    body {
        background-color: yellow;
    }
}


